<?xml version="1.0" encoding="gb2312"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MainInterface.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="LoginBox.UserName" value=""/>
    <add key="LoginBox.Server" value="server"/>
    <add key="LoginBox.TimeOut" value="0"/>
	<add key="MainInterface.htfServer1.Service1" value="http://192.168.0.104/WebService_CGMIS/Service1.asmx"/>
    <add key="MainInterface.CustomerPath" value=""/>
    <add key="MainInterface.ShowToolBar" value="True"/>  
	<add key="MainInterface.htfServer.Service1" value="http://localhost/WebService_CGMIS/Service1.asmx"/>
	<add key="MainInterface.htfServerPermission.Permission" value="http://localhost/webservice_cgmis/permission.asmx"/>
	<add key="PortableOpenOfficeDirectory" value="OpenOfficePortable\">
    </add>
    <add key="PortableOpenOfficeExecutable" value="OpenOfficePortable.exe">
    </add>
    <add key="PortableOpenOfficeConversionLibrary" value="ConversionLibrary">
    </add>
    <add key="PortableOpenOfficeConversionModule" value="PDFConversion">
    </add>
    <add key="PortableOpenOfficeConversionFunction" value="ConvertWordToPDF">
    </add>
  </appSettings>
  <applicationSettings>
    <MainInterface.My.MySettings>
      <setting name="MainInterface_htfServer_Service1" serializeAs="String">
        <value>http://localhost:8000/WebService_CGMIS/Service1.asmx</value>
      </setting>
    </MainInterface.My.MySettings>
  </applicationSettings>
</configuration>
